@using ShowNest.Web.ViewModels.Organization
@model OrganizationIndexViewModel

@{
    Layout = null;
}
@{
    Layout = "_LayoutForEventPage";
    //先套用EventPage的footer公版，後續有時間再做Organizations的佈景公版
}
@section topCSS {
    <link href="~/css/general/reset.css" rel="stylesheet" />
    <link href="~/css/organization/index.css" rel="stylesheet" />
}
@section endJS {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
                ,
                events:@Html.Raw(Model.FullCalendarJson)
                // 範例
                // [{
                //        title: '登山活動：健行山林',
                //        start: '2024-06-07',
                // //        end: '2024-06-12'
                //    }]
                ,
                editable: true,
                selectable: true,
                dayMaxEvents: true
            });
            
            calendar.render()
        });
    </script>
    
    <script src="~/js/organizations/index.js"></script>
}



<div class="wrapper">
    <div class="page-content">
        <div class="main-org container">
            <div class="info-org">
                <div class="org-avatar">
                    <img src="@Model.OrganizationImgUrl">
                </div>
                <h1 class="org-title">@Model.OrganizationName</h1>
                <div class="attend-btn-wrapper d-grid gap-2 p-4 ">
                    <a href="JoinedOrganizations" class="btn btn-dark " type="button">成為組織粉絲</a>
                </div>
            </div>
            <div class="main-content">
                <div class="side-block">
                    <ul class="info-org-webfb">
                        <li><a href="#"><i class="fa fa-globe"></i>網站</a></li>
                        <li><a href="#"><i class="fa fa-facebook-square"></i>Facebook 粉絲團</a></li>
                        <li><a href="#"><i class="fa fa-solid fa-pencil"></i>聯絡主辦單位</a></li>
                    </ul>
                    <i class=""></i>
                </div>
                <div class="description-block">
                    @Html.Raw(Model.OrganizationDescription)
                    

                </div>
            </div>
        </div>
        <!-- 近期公開活動 開始 -->
        <div class="current-events">
            <div class="container">
                <div class="container-head">
                    <h2>近期公開活動<a href="#"><i class="fa fa-rss-square"></i></a></h2>
                    <div class="switch-block">
                        行事曆模式
                        <a href="#" class="Calendar" type="button"><i class="fa fa-calendar"></i>
                            @* @Html.Raw(Model.FullCalendarJson) *@
                        </a>
                    </div>
                </div>
                <!-- 行事曆區塊-->
                <div id="calendar" style="display: none;"></div>
                <!-- 列表模式 -->
                <ul class="org-event-list" id="eventList">
                    <!-- foreach  正在進行的活動-->
                    @foreach (var CurrentEvents in Model.GroupedCurrentEvents)
                    {
                    <li>
                            <h2><a asp-controller="Events" asp-action="EventPage" asp-route-id="@CurrentEvents.Id">@CurrentEvents.EventName </a></h2>

                        <div class="date">
                            <i class="fa fa-calendar"></i>
                                <span class="timezoneSuffix">@CurrentEvents.StartTime.ToString("yyyy/MM/dd HH:mm")</span>
                        </div>
                            <a asp-controller="Events" asp-action="EventPage" asp-route-id="@CurrentEvents.Id" class="img-wrapper">
                                <img src="@CurrentEvents.EventImage">
                            <div class="img-btn">立即購票</div>

                        </a>
                        <div class="description">
                                @CurrentEvents.EventIntroduction
                        </div>
                     </li>
                    }
                    <!--  -->

                </ul>
            </div>
        </div>
        <!-- 曾舉辦的活動 開始 -->
        <div class="history-events">
            <div class="history-container">
                <h2>曾舉辦的活動</h2>
                <!-- 一個月份一組history-wrapper -->
                @foreach (var GroupedpastMonth in Model.GroupedPastEvents)
                {
                <div class="history-wrapper">
                        <h3>@GroupedpastMonth.Year/@GroupedpastMonth.Month</h3>
                    <ul class="history-list-past">
                        <li>
                            <div class="table-wrapp">
                                    <div class="date-wrapp cell-wrapp"><span class="date">@GroupedpastMonth.StartTime.Day</span></div>
                                <div class="title-wrapp cell-wrapp">
                                        <a asp-controller="Events" asp-action="EventPage" asp-route-id="@GroupedpastMonth.Id">@GroupedpastMonth.EventName</a>
                                </div>
                            </div>
                        </li>
                        <!--  -->
                        
                    </ul>
                </div>
                }
            </div>
        </div>
    </div>
</div>

