@model OverviewViewModel

@{
    ViewData["Title"] = "Overview";
    var events = Model.OrgEvents;
}

@section topCSS {
    <link href="~/css/_partial/_dashborard_sidemenu_partial.css" rel="stylesheet" />
    <link href="~/css/Dashboard/Overview.css" rel="stylesheet" />
}





<section id="overview" class="d-flex section_wrap">
    <div class="sideBarMenu">
        <nav>
            <div>
                <a asp-controller="Organizations" asp-action="Index" asp-route-OrganizationId="@Model.OrgId"><i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>組織公開頁面</a>
            </div>
            <div><a href="/Dashboard/Organizations/@Model.OrgId/Overview"><i class="fa-solid fa-users fa-sm"></i>活動列表</a></div>
            @* <div><a href="?viewType=OrgAccount"><i class="fa-solid fa-cart-arrow-down fa-sm"></i>組織帳務</a></div> *@
            <div><a href="/Dashboard/Organizations/@Model.OrgId/GeneralInfo"><i class="fa-solid fa-circle-info fa-sm"></i>一般資訊</a></div>
            @* <div><a href="?viewType=OrgAuthority"><i class="fa-solid fa-tags fa-sm"></i>權限管理</a></div> *@
        </nav>
    </div>

    <div class="main-content">
        <div class="event-list">
            <header class="org_header">
                <span class="org-name">組織名稱</span>
                <span class="org-title bold">@Model.OrgName</span>
            </header>
            <div class="event-list-title">
                <h2 class="list-title">活動列表</h2>
            </div>
            <div class="ongoing-event-list gap">
                <h3>正在舉辦的活動</h3>
                <a href="/Dashboard/CreateEvent" class="btn btn-primary">建立活動</a>
            </div>
            <div class="events-box">
                <div class="events">
                    @if (events.All(e => !e.isOnGoing) || events.Count == 0)
                    {
                        <p class="no-event">現在沒有正在舉辦的活動</p>
                    }
                    else
                    {
                        <div class="org-list-title mt-2">
                            <div class="event-name col-4">
                                <p>活動名稱</p>
                            </div>
                            <div class="col-4">
                                <p>活動開始時間</p>
                            </div>
                            <div class="col-4">
                                <p>狀態</p>
                            </div>
                        </div>
                        @foreach (var singleEvent in events)
                        {
                            if (singleEvent.isOnGoing || events.Count == 0)
                            {
                                <div class="list-names">
                                    <p class="has-event col-4">@singleEvent.OrgEventName</p>
                                    <p class="has-event col-4">@singleEvent.OrgEventStartTime.ToString("yyyy/MM/dd HH:mm (zzz)")</p>
                                    <p class="has-event col-4 state">@singleEvent.OrgEventStatus</p>
                                </div>
                                <div class="button-group">
                                    <a href="/Dashboard/Events/@singleEvent.OrgEventId/Overview">
                                        <button class="btn btn-primary">
                                            活動主控台
                                        </button>
                                    </a>
                                    @* <a asp-controller="Dashboard" asp-action="Events" asp-route-viewType="#">
                                        <button class="btn btn-light">
                                            訂單
                                        </button>
                                    </a>
                                    <a asp-controller="Dashboard" asp-action="Events" asp-route-viewType="#">
                                        <button class="btn btn-light">
                                            簽到簿
                                        </button>
                                    </a> *@
                                    <a href="/Events/EventPage/@singleEvent.OrgEventId">
                                        <button class="btn btn-success">
                                            <i class="fa-solid  fa-arrow-up-right-from-square"></i>活動頁面
                                        </button>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="events-box">
                <div class="events">
                    <h2 class="list-title">已結束的活動</h2>
                    <div class="closed-events">
                        @if (events.All(e => e.isOnGoing))
                        {
                            <p class="no-event">沒有已結束的活動</p>
                        }
                        else
                        {
                            <div class="org-list-title mt-2">
                                <div class="event-name col-4">
                                    <p>活動名稱</p>
                                </div>
                                <div class="col-4">
                                    <p>活動開始時間</p>
                                </div>
                                <div class="col-4">
                                    <p>狀態</p>
                                </div>
                            </div>
                            @foreach (var singleEvent in events)
                            {
                                if (!singleEvent.isOnGoing)
                                {
                                    <div class="list-names">
                                        <p class="has-event col-4">@singleEvent.OrgEventName</p>
                                        <p class="has-event col-4">@singleEvent.OrgEventStartTime.ToString("yyyy/MM/dd HH:mm (zzz)")</p>
                                        <p class="has-event col-4 state">@singleEvent.OrgEventStatus</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="/Dashboard/Events/@singleEvent.OrgEventId/Overview">
                                            <button class="btn btn-primary">
                                                活動主控台
                                            </button>
                                        </a>
                                        <a asp-controller="Dashboard" asp-action="Events" asp-route-viewType="#">
                                            <button class="btn btn-light">
                                                訂單
                                            </button>
                                        </a>
                                        <a asp-controller="Dashboard" asp-action="Events" asp-route-viewType="#">
                                            <button class="btn btn-light">
                                                簽到簿
                                            </button>
                                        </a>
                                        <a href="/Events/EventPage/@singleEvent.OrgEventId">
                                            <button class="btn btn-success">
                                                <i class="fa-solid  fa-arrow-up-right-from-square"></i>活動頁面
                                            </button>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
