@using ShowNest.Web.ViewModels.Dashboard;
@model ShowNest.Web.ViewModels.Dashboard.SetTicketPageViewModel

@{
    ViewData["Title"] = "SetTicket";
}

@section topCSS {
    <link href="~/css/Dashboard/SetTicket.css" rel="stylesheet" />
}

<body>
    <div class="header-title">
        <div class="organize">
            組織名稱
        </div>
        <div class="name">
            @* @Model.OrganizationName *@
            Mafia
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("SetEvent", "Dashboard")">設定資料活動</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("SetTicket", "Dashboard")">設定票種</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("SetTable", "Dashboard")">設定表單</a></li>
                    </ol>
                </nav>
            </div>

            <div class="table-log">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="color-label"></th>
                            <th scope="col">票種名稱</th>
                            <th scope="col">販售時間</th>
                            <th scope="col">價格</th>
                            <th scope="col">數量</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="color-label"></td>
                            <td>搖滾區</td>
                            <td>
                                2024/03/02 ~
                                2024/04/5
                            </td>
                            <td>TWD$ 5000</td>
                            <td>1</td>
                            <td>
                                <button class="edit">編輯</button>
                            </td>
                        </tr>

                        @* @foreach (var ticket in Model.SetTickets)
                        {
                            <tr>
                                <td class="color-label"></td>
                                <td>@ticket.TicketName</td>
                                <td>@ticket.StartTime.ToString("yyyy/MM/dd HH:mm") ~
                                @ticket.EndTime.ToString("yyyy/MM/dd HH:mm")</td>
                                <td>TWD$ @ticket.Price</td>
                                <td>@ticket.Quantity</td>
                                <td>
                                <button class="edit">編輯</button>
                                    <button class="delete">刪除</button>
                                </td>
                            </tr>
           
                        }  *@
                    </tbody>
                </table>
                <div class="changeTicketSection">
                    @* <div class="section">
                        <div class="mb-3">
                            <h4 class="sectionTitle">票種名稱</h4>
                            <input type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                        </div>
                    </div>
                    <div class="section">
                        <div class="mb-3">
                            <h4 class="sectionTitle">價格</h4>
                            <input type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                        </div>
                    </div> *@

                    @* =====Step1: 選擇票種跟價格, 數量, 販售時間====== *@
                    <div class="row">
                        <div class="col-3">
                            <h4 class="sectionTitle">票種選項</h4>
                            <draggable class="list-group" :list="list1" group="people" @* @change="log" *@>
                                <div class="list-group-item"
                                     v-for="(element, index) in list1"
                                     :key="element.name">
                                    {{ element.name }} {{ index }}
                                </div>
                            </draggable>
                        </div>

                        <div class="col-3">
                            <h4 class="sectionTitle">想加入的票種</h4>
                            <draggable class="list-group" :list="list2" group="people" @* @change="log" *@>
                                <div class="list-group-item"
                                     v-for="(element, index) in list2"
                                     :key="element.name">
                                    {{ element.name }} {{ index }}
                                </div>
                            </draggable>
                        </div>

                        <rawDisplayer class="col-3" :value="list1" title="List 1" />
                        <rawDisplayer class="col-3" :value="list2" title="List 2" />
                    </div>
                    <div class="section">
                        <div class="mb-3">
                            <h4 class="sectionTitle">數量</h4>
                            <input type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                        </div>

                    </div>

                    <div class="timeSection">
                        <h4 class="sectionTitle">販售時間</h4>
                        <input type="datetime-local" class="date-time">
                        <div class="space">至</div>
                        <input type="datetime-local" class="date-time">
                    </div>

                    @*  =====票區選項======
                    上面按下儲存後,隱藏欄位,並顯示票區選項 *@
                    <div class="row">
                        <div class="col-3">
                            <h4 class="sectionTitle">票區選項</h4>
                            <draggable class="list-group" :list="list1" group="people" @* @change="log" *@>
                                <div class="list-group-item"
                                     v-for="(element, index) in list1"
                                     :key="element.name">
                                    {{ element.name }} {{ index }}
                                </div>
                            </draggable>
                        </div>

                        <div class="col-3">
                            <h4 class="sectionTitle">想要選取的票區</h4>
                            <draggable class="list-group" :list="list2" group="people" @* @change="log" *@>
                                <div class="list-group-item"
                                     v-for="(element, index) in list2"
                                     :key="element.name">
                                    {{ element.name }} {{ index }}
                                </div>
                            </draggable>
                        </div>

                        <rawDisplayer class="col-3" :value="list1" title="List 1" />
                        <rawDisplayer class="col-3" :value="list2" title="List 2" />
                    </div>

                    @* 按鍵一直都在,分別在第一階段與第二階段新增物件 *@
                    <div class="section">
                        <button type="button" class="btn btn-outline-secondary btn-sm" id="submit">儲存</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" id="cancel">取消</button>
                    </div>
                    
                </div>

                <button type="button" class="btn btn-outline-secondary btn-sm" id="add-ticket">新增票種</button>
            </div>
            <div class="pages-change">
                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='@Url.Action("SetEvent", "Dashboard")'">上一頁</button>
                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='@Url.Action("SetTable", "Dashboard")'">下一頁</button>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/Dashboard/SetTicket.js"></script>

    }
</body>

