@using ShowNest.Web.ViewModels.Events;
@model TicketTypeSelectionViewModel;
@{
    ViewData["Title"] = "TicketTypeSelection";
}

@section topCSS {
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.14/dist/vuetify.min.css" rel="stylesheet"/>
    <link href="~/css/Events/TicketTypeSelection.css" rel="stylesheet"/>
    <link href="~/css/_Partial/_PurchaseStepsPartial.css" rel="stylesheet"/>
    <link href="~/css/_Partial/_SeatSelectionActionBarPartial.css" rel="stylesheet"/>
    <link href="~/css/events/selectarea.css" rel="stylesheet"/>
}

@section Scripts
{
    <script src="~/js/Events/TicketTypeSelection.js"></script>
    @* <script src="~/js/Events/_SeatSelectionActionBarPartial.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.14/dist/vuetify.min.js"></script>
}


<div class="btn-next-step width">
    <a asp-controller="Events" asp-action="SelectArea">下一步</a>
</div>


<div id="app">
<v-stepper :items="['Step 1', 'Step 2', 'Step 3', 'Step 4']">
<template v-slot:item.1>
    <v-card title="Step One" flat>

        <div class="event-img-bgc">
            <div class="event-img width">
                <img src="@Model.EventDetail.MainImage" alt="Event Main Image">
            </div>
        </div>

        <div class="wrap width">
            <div class="event-name">
                <h2>@Model.EventDetail.EventName</h2>
            </div>
            <div class="event-detail">
                <table>
                    <tr>
                        <th>開始時間</th>
                        <td>
                            @Model.EventDetail.StartTime.ToString("yyyy-mm-dd HH:mm (zzz)")<a id="add-to-calendar" href="" alt="">加入行事曆</a>
                        </td>
                    </tr>
                    <tr>
                        <th>活動地點</th>
                        <td>
                            @Model.EventDetail.EventLocation<a id="view-the-map" href="">檢視地圖</a>
                        </td>
                    </tr>
                    <tr>
                        <th>主辦單位</th>
                        <td>@Model.EventDetail.EventHost</td>
                    </tr>
                    <tr>
                        <th>票劵類型</th>
                        <td>@Model.EventDetail.TicketCollectionChannel</td>
                    </tr>
                    <tr>
                        <th>付款方式</th>
                        <td>@Model.PaymentMethodsForDisplay</td>
                    </tr>
                    <tr>
                        <th>客戶服務</th>
                        <td>請聯絡 <a href="mailto:support@shownest.com">SHOWNEST</a></td>
                    </tr>
                </table>
            </div>
            <div class="progress_container">
                @await Html.PartialAsync("_PurchaseStepsPartial", new List<StepStatusViewModel>
                {
                    new StepStatusViewModel { InProgress = true, IsDisabled = false },
                    new StepStatusViewModel { InProgress = false, IsDisabled = false },
                    new StepStatusViewModel { InProgress = false, IsDisabled = false },
                    new StepStatusViewModel { InProgress = false, IsDisabled = false }
                })
            </div>
            <div class="seats-areas-chart">
                <img src="@Model.EventDetail.SeatAreaImage" alt="Event Seat Area Image">
            </div>
            <div class="ticket-price-table">
                <div class="ticket-price-title">
                    <div class="ticket-type">
                        <p>票種</p>
                    </div>
                    <div class="seats-select-type">
                        <p>座位</p>
                    </div>
                    <div class="the-price">
                        <p>票價</p>
                    </div>
                </div>
                @foreach (var ticketPriceRow in @Model.TicketPriceRow)
                {
                    <div class="ticket-data-row">
                        <div class="area">
                            @ticketPriceRow.Tickets.TicketTypeName
                            <span>@ticketPriceRow.SeatArea</span>
                        </div>
                        <div class="select-type">@ticketPriceRow.SeatSelectionMethod</div>
                        <div class="ticket-price">@string.Format("TWD${0:N0}", ticketPriceRow.Tickets.TicketPrice)</div>
                        <div class="amount">
                            <input id="btn-minus" type="button" value="-">
                            <input type="number" name="ticket-amount" id="input-ticket-amount" placeholder="0">
                            <input id="btn-plus" type="button" value="+">
                        </div>
                    </div>
                }
            </div>
            <div class="agreement">
                <input type="checkbox" name="service-and-privacy-agreement" id="">
                我已經閱讀並同意<a href=""> 服務條款 </a>與<a href=""> 隱私權政策 </a>
            </div>

        </div>
    </v-card>
</template>

<template v-slot:item.2>
<v-card title="Step Two" flat>
<div class="action-bar wrap width">
    <div class="action-bar-left d-flex">
        <div class="btn-cancel">
            <a href="#">取消購票</a>
        </div>
        <div class="btn-user-guide">
            <!-- Button trigger modal -->
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">操作說明</a>
        </div>
    </div>
    <div id="countdownOnSelection" class="count-down-timer">
        您還有 {{ counter }} 可以選擇座位
    </div>
    <div class="btn-confirm">
        <a href="#">確認座位</a>
    </div>
</div>

<div class="seat-areas-and-showcases wrap d-flex width">
    <div class="confirm-wrap" style="display: none">
        <div class="display-total-amount">
            <div class="total-amount">
                <span>總金額</span>
                <p>TWD$3,800</p>
            </div>
            <div class="seats-selection-complete">
                <a asp-controller="Events" asp-action="Registrations">完成選位</a>
            </div>
        </div>
        <div class="selected-tickets">
            選購的票券
        </div>
        <div class="ticket-detail">
            <div class="price">TWD$3,800</div>
            <div class="ticket-with-seat-detail">
                <div class="seat-location">紫 2D 區 3 排 14 號</div>
                <div class="ticket-type">全票</div>
            </div>
        </div>
    </div>
</div>
<div class="rwd-fixed-btns">
    <div class="btn-cancel">
        <a href="#">取消購票</a>
    </div>
    <div class="btn-confirm" data-bs-toggle="modal" data-bs-target="#btn-confirm">
        <a href="#">確認座位</a>
    </div>
</div>

<!-- Modal user-guide -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalLabel">座位圖使用說明</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>基本操作</h6>
                <p>座位圖操作方式如下：</p>
                <ol>
                    <img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708682220/seat_operation_1_otxkzc.jpg"
                         alt="">
                    <li>
                        座位圖的左上角有 及 圖示，點選 圖示可放大座位圖；點選 圖示可縮小座位圖。
                    </li>
                    <img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708682218/seat_operation_2_zxh8bm.jpg"
                         alt="">
                    <li>位圖中沒有座位的空白區域，可看見滑鼠指標變更為十字形，此時可拉動座位圖調整顯示範圍。</li>
                </ol>
                <h6>換位說明</h6>
                <p>若想變更已選定的座位，可依下列步驟進行換位：</p>
                <p>請注意：僅支援相同票種及金額座位的操作。</p>
                <ol>
                    <img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708682216/change_seat_1_zh-TW_vzt94v.jpg"
                         alt="">
                    <li>
                        點選目前已選但想更換的座位，將會看見「您正在更改座位」的提示訊息。
                    </li>
                    <img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708682219/change_seat_2_zh-TW_yeezxs.jpg"
                         alt="">
                    <li>
                        將滑鼠移至想更換的目標座位上，可從提示訊息中看見該位置的排號。
                    </li>
                    <img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708682219/change_seat_3_zh-TW_rg1c8b.jpg"
                         alt="">
                    <li>
                        若確認無誤，點選該座位即完成換位。
                    </li>
                </ol>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success">知道了</button>
        </div>
    </div>
</div>
<!-- Modal rwd-btn-confirm -->
<div class="modal fade" id="btn-confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="selected-tickets">
                    選購的票券
                </div>
            </div>
            <div class="modal-body">
                <div class="ticket-detail">
                    <div class="price">TWD$3,800</div>
                    <div class="ticket-with-seat-detail">
                        <div class="seat-location">紫 2D 區 3 排 14 號</div>
                        <div class="ticket-type">全票</div>
                    </div>
                </div>
                <div class="display-total-amount">

                </div>
            </div>
            <div class="modal-footer">
                <div class="total-amount">
                    <span>總金額</span>
                    <p>TWD$3,800</p>
                </div>
                <div class="seats-selection-complete">
                    <a asp-controller="Events" asp-action="Registrations">完成選位</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main_stage_map width">
    <div class="map_area">
        <img src="https://danichen12.github.io/00Project/booking/image/map.png" usemap="#image-map">
        <map name="image-map" class="image-map" id="area_map">
            @* <a v-on:click="toggleSeatSelection" asp-controller="Events" asp-action="SeatsSelection" asp-route-id="1"> *@
            <button v-on:click="toggleSeatSelection(1)">
                <area alt="floor1_a_area" title="floor1_a_area"
                      coords="381,129,505,129,507,290,418,288,333,230" shape="poly">
            </button>
            <a asp-controller="Events" asp-action="SeatsSelection" asp-route-id="2">
                <area target="_blank" alt="floor1_b_area" title="floor1_b_area"
                      coords="518,130,643,130,693,228,608,289,518,288" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_a_area" title="floor2_a_area"
                      coords="313,265,367,299,337,356,287,312" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_b_area" title="floor2_b_area"
                      coords="375,301,417,319,392,416,369,405,339,363" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_c_area" title="floor2_c_area"
                      coords="425,318,469,329,463,424,400,413" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_d_area" title="floor2_d_area"
                      coords="476,329,545,330,553,428,469,425" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_e_area" title="floor2_e_area"
                      coords="553,329,600,320,623,417,559,427" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_f_area" title="floor2_f_area"
                      coords="605,316,650,301,684,368,655,410,629,416" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor2_g_area" title="floor2_g_area"
                      coords="656,298,711,264,738,317,689,361" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_a_area" title="floor3_a_area"
                      coords="262,373,347,417,292,518,231,434" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_b_area" title="floor3_b_area"
                      coords="353,420,409,444,367,582,301,524" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_c_area" title="floor3_c_area"
                      coords="416,445,461,455,453,606,377,582" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_d_area" title="floor3_d_area"
                      coords="467,454,557,456,561,608,461,608" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_e_area" title="floor3_e_area"
                      coords="563,452,606,444,652,586,567,606" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_f_area" title="floor3_f_area"
                      coords="614,442,673,420,725,522,660,582" shape="poly">
            </a>
            <a asp-controller="Events" asp-action="SeatsSelection">
                <area target="_blank" alt="floor3_g_area" title="floor3_g_area"
                      coords="678,418,761,372,795,436,733,521" shape="poly">
            </a>
        </map>
    </div>
</div>
</v-card>
@* <template> *@
@*     <div class="text-center pa-4"> *@
@*         <v-dialog v-model="dialog" transition="dialog-bottom-transition" fullscreen> *@
@*             <template v-slot:activator="{ props: activatorProps }"> *@
@*                 <v-btn *@
@*                     prepend-icon="mdi-cog" *@
@*                     size="small" *@
@*                     text="Settings"> *@
@*                 </v-btn> *@
@*             </template> *@
@* *@
@*             <v-card> *@
@*                 <v-toolbar> *@
@*                     <v-btn icon="mdi-close" v-on:click="dialog = false"></v-btn> *@
@* *@
@*                     <v-toolbar-title>更換座位</v-toolbar-title> *@
@* *@
@*                     <v-spacer></v-spacer> *@
@* *@
@*                     <v-toolbar-items> *@
@*                         <v-btn text="儲存" variant="text" v-on:click="dialog = false"></v-btn> *@
@*                     </v-toolbar-items> *@
@*                     <template> </template> *@
@*                 </v-toolbar> *@
@*             </v-card> *@
@*         </v-dialog> *@
@*     </div> *@
@* </template> *@
@* TODO *@
<div class="text-center pa-4">
    <v-dialog
      v-model="dialog"
      transition="dialog-bottom-transition"
      fullscreen
    >

      <v-card>
        <v-toolbar>
          <v-btn
            icon="mdi-close"
            v-on:click="dialog = false"
          ></v-btn>

          <v-toolbar-title>Settings</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-toolbar-items>
            <v-btn
              text="Save"
              variant="text"
              v-on:click="dialog = false"
            ></v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-list
          lines="two"
          subheader
        >
          <v-list-subheader>User Controls</v-list-subheader>

          <v-list-item
            subtitle="Set the content filtering level to restrict apps that can be downloaded"
            title="Content filtering"
            link
          ></v-list-item>

          <v-list-item
            subtitle="Require password for purchase or use password to restrict purchase"
            title="Password"
            link
          ></v-list-item>

          <v-divider></v-divider>

          <v-list-subheader>General</v-list-subheader>

          <v-list-item
            subtitle="Notify me about updates to apps or games that I downloaded"
            title="Notifications"
            v-on:click="notifications = !notifications"
          >
            <template v-slot:prepend>
              <v-list-item-action start>
                <v-checkbox-btn v-model="notifications" color="primary"></v-checkbox-btn>
              </v-list-item-action>
            </template>
          </v-list-item>

          <v-list-item
            subtitle="Auto-update apps at any time. Data charges may apply"
            title="Sound"
            v-on:click="sound = !sound"
          >
            <template v-slot:prepend>
              <v-list-item-action start>
                <v-checkbox-btn v-model="sound" color="primary"></v-checkbox-btn>
              </v-list-item-action>
            </template>
          </v-list-item>

          <v-list-item
            subtitle="Automatically add home screen widgets"
            title="Auto-add widgets"
            v-on:click="widgets = !widgets"
          >
            <template v-slot:prepend>
              <v-list-item-action start>
                <v-checkbox-btn v-model="widgets" color="primary"></v-checkbox-btn>
              </v-list-item-action>
            </template>
          </v-list-item>
        </v-list>
      </v-card>
    </v-dialog>
  </div>
@* / *@
</template>


<template v-slot:item.3>
    <v-card title="Step Three" flat>

    </v-card>
</template>
<template v-slot:item.4>
    <v-card title="Step Four" flat>...</v-card>
</template>
</v-stepper>
</div>

@section endJS
{
    <script src="~/js/Events/ticket-vue.js"></script>
}