
@model EventPageViewModel

@{
    Layout = "_LayoutForEventPage";
}

@section topCSS {
    <link href="~/css/general/reset.css" rel="stylesheet" />
    <link href="~/css/events/eventpage.css" rel="stylesheet" />
    <link href="~/css/_partial/_categorytags_partial.css" rel="stylesheet" />
	
}
@section endJS {
    <script src="~/js/events/eventpage.js"></script>
}

<div class="warp">
    <!-- 活動頁 -->
    <div class="content-wrapper">
        <!-- 活動header頁 開始-->
        <div class="header-container">
            <div class="header">
                <div class="header-title">
                    <h1>@Model.EventName</h1>
                </div>
            </div>
            <!-- 活動資訊 -->
            <div class="event-info">
                <ul class="info">
                    <li>
                        <p class="info-desc">
                            <i class="fa fa-solid fa-calendar-days"></i>
                            @Model.EventTime.ToString("yyyy/MM/dd HH:mm")
                            (
                            <a href="#">iCal/Outlook</a>,
                            <a href="#" target="_blank">
                                Google 日曆
                            </a>
                            )
                        </p>
                    </li>
                    <li>
                        <p class="info-desc">
                            <i class="fa fa-solid fa-location-dot"></i>
                            @Model.EventLocationName / @Model.EventLocationAddress
                        </p>
                    </li>
                    <li>
                        <p class="info-count">
                            <i class="fa fa-solid fa-person"></i>
                            @Model.EventRegistered/@Model.EventCapacity
                        </p>
                    </li>
                    <li class="pc-hide">
                        <p class="info-besiness">
                            <i class="fa fa-solid fa-sitemap mobi"></i>
                            @Model.EventLocationName
                            <a href="" class="a-Contact-organization">聯絡主辦單位</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!-- --活動圖片-- --> 
            <div class="og-banner">
                <img src="@Model.MainImage" alt="ActivityMainImg">
            </div>
            <div class="organizers mobi-hide">
                <i class="fa-solid fa-sitemap"></i>
                主辦單位
                <a asp-controller="Organizations" asp-action="Index">@Model.MainOrganizer</a>
                <a href="~/Organizations/Index/@Model.OrganizationId" id="btn-Contact-organization">聯絡主辦單位</a>
            </div>
            <!-- 活動header頁 結束-->
        </div>
        <!-- --手機板 下一步--- -->
        <div id="pc-btn-success" class="p-3 d-flex justify-content-center pc-hide">
            <a href="~/Events/BuyTicket/@Model.EventId" class="btn btn-success w-50"
               type="button">下一步</a>
        </div>
        <!-- 活動main 開始-->
        <div class="main">
            <div class="description">
                @Html.Raw(Model.EventDescription)

            </div>
            <ul class="tags-item ">
                <li>
                    @* @foreach (var tag in Model.EventCategoryTags)
                    {
                        @await Html.PartialAsync("~/PartialViews/_CategoryTags_Partial.cshtml", tag);
                    } *@
                </li>
            </ul>
        </div>
        <!-- 地圖   開始 -->
        <div class="location">

            <div class="map-wrapper">
                <div class="btn-wrapper" id="map">
                </div>
                <div class="address mobi-hide">
                    ShowNest Live / @Model.EventLocationAddress
                </div>
            </div>
            <div class="side-content">
                <div class="btn-group">
                    <a href="https://www.google.com/maps/dir/?api=1&destination=106台北市大安區忠孝東路三段96號11號樓之1" target="_blank"
                       type="button" class="btn  btn-success">規劃路線</a>
                    <a href="https://www.google.com/maps/search/?api=1&query=25.0415706%2C121.5363193" target="_blank"
                       type="button" class="btn btn-success">檢視較大地圖</a>
                </div>


            </div>

        </div>
        <!-- 活動票券 開始-->
        <div class="tickets">
            <h2>活動票券</h2>
            <table class="tickets-wrapper">
                <thead class="ticket-title mobi-hide">
                    <tr>
                        <th class="name">票種</th>
                        <th class="period">販售時間</th>
                        <th class="price">售價</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in @Model.EventTicketTypes)
                    {
                        <tr>
                            <td>@ticket.TicketTypeName</td>
                            <td class="period-time">
                                <span class="timezoneSuffix">@ticket.TicketSalseBegin.ToString("yyyy/MM/dd HH:mm")</span>
                                ~
                                <span class="timezoneSuffix">@ticket.TicketSalseEnd.ToString("yyyy/MM/dd HH:mm")</span>
                            </td>
                            <td class="price">
                                <span class="currency">TWD$</span>
                                <span class="currency-value">@ticket.TicketPrice.ToString()</span>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>

            <div id="pc-btn-success" class="p-3 d-flex justify-content-center">
                <a href="~/Events/BuyTicket/@Model.EventId" class="btn btn-success w-50"
                   type="button">下一步</a>
            </div>
        </div>
        <div class="event-attendees ">
            <h2><span>26</span> 報名人</h2>
            <div class="attendees-btn">
                <div class="p-3 justify-content-center show-attendees">
                    <div class="btn btn-outline-success attendee-display-switch  w-50" type="button" id="toggleAttendeesBtn">
                        顯示報名人
                    </div>
                </div>
            </div>
            <ul class="attendees">
               @*  @foreach (var ParticipantPeople in @Model.AllParticipantPeoples)
                    {
                        <li>
                                 <img src="" alt="">@ParticipantPeople                        </li>
                    } *@
                <div class="more">
                    ...以及其他 19 人
                </div>
            </ul>
        </div>
    </div>
</div>



