
@model EventPageViewModel


@{
    Layout = "_LayoutForEventPage";
}

@section topCSS {
    <link href="~/css/general/reset.css" rel="stylesheet" />
    <link href="~/css/events/eventpage.css" rel="stylesheet" />
    <link href="~/css/_partial/_categorytags_partial.css" rel="stylesheet" />
	
}

@section endJS {
    <script src="~/js/events/eventpage.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 為PC版按鈕添加事件監聽器
            document.getElementById('pc-btn-success').addEventListener('click', handleButtonClick);

            // 為手機版按鈕添加事件監聽器
            document.getElementById('mobile-btn-success').addEventListener('click', handleButtonClick);

            async function handleButtonClick(event) {
                event.preventDefault(); // 防止按鈕的默認行為

                const isLoggedIn = await checkLoginStatus();
                if (!isLoggedIn) {
                    // 如果用戶未登入，顯示模態視窗
                    $('#loginModal').modal('show');
                } else {
                    // 如果用戶已經登入，轉到下一個頁面
                    window.location.href = '/Events/TicketTypeSelection?eventId=@Model.EventId';
                }
            }

            async function checkLoginStatus() {
                try {
                    const response = await fetch('/checkLoginStatus');
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    return data.isLoggedIn; // 正確地讀取isLoggedIn屬性的值
                } catch (error) {
                    console.error('Error checking login status:', error);
                    return false;
                }
            }

            // 處理模態視窗中的按鈕點擊事件
            document.getElementById('loginBtn').addEventListener('click', function () {
                // 將eventId作為查詢參數傳遞給登入頁面
                window.location.href = '/Account/LogIn?eventId=@Model.EventId';
            });
            document.getElementById('signUpBtn').addEventListener('click', function () {
                // 將eventId作為查詢參數傳遞給註冊頁面
                window.location.href = '/Account/SignUp?eventId=@Model.EventId';
            });

            document.getElementById('cancelBtn').addEventListener('click', function () {
                $('#loginModal').modal('hide');
            });
        });
    </script>
    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "AIzaSyB3EaB96udUsBhoJ7Wb28Eul-JZCvLctcE", v: "beta" });
        let map;
        async function initMap() {
            // The location of BS
            const position = { lat: @Model.Latitude, lng: @Model.Longitude };
            // Request needed libraries.
            // ts-ignore
            const { Map } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerView } = await google.maps.importLibrary("marker");

            // The map, centered at BS
            map = new Map(document.getElementById("map"), {
                zoom: 15,
                center: position,
                mapId: "DEMO_MAP_ID",
            });

            // The marker, positioned at BS
            const marker = new AdvancedMarkerView({
                map: map,
                position: position,
                title: "BS",
            });
        }
        initMap();
        </script>
}



<div class="warp">
    <!-- 活動頁 -->
    <div class="content-wrapper">
        <!-- 活動header頁 開始-->
        <div class="header-container">
            <div class="header">
                <div class="header-title">
                    <h1>@Model.EventName</h1>
                </div>
            </div>
            <!-- 活動資訊 -->
            <div class="event-info">
                <ul class="info">
                    <li>
                        <p class="info-desc">
                            <i class="fa fa-solid fa-calendar-days"></i>
                            @Model.EventTime.ToString("yyyy/MM/dd HH:mm")
                            (
                            <a href="#">iCal/Outlook</a>,
                            <a href="#" target="_blank">
                                Google 日曆
                            </a>
                            )
                        </p>
                    </li>
                    <li>
                        <p class="info-desc">
                            <i class="fa fa-solid fa-location-dot"></i>
                            @Model.EventLocationName / @Model.EventLocationAddress
                        </p>
                    </li>
                    <li>
                        <p class="info-count">
                            <i class="fa fa-solid fa-person"></i>
                            @Model.EventRegistered/@Model.EventCapacity
                        </p>
                    </li>
                    <li class="pc-hide">
                        <p class="info-besiness">
                            <i class="fa fa-solid fa-sitemap mobi"></i>
                            <a asp-controller="Organizations" asp-action="Index" asp-route-OrganizationId="@Model.OrganizationId">@Model.OrganizationName</a>
                            <a asp-controller="Organizations" asp-action="ContactOrganization" asp-route-OrganizationId="@Model.OrganizationId" class="a-Contact-organization">聯絡主辦單位</a>
                            
                        </p>
                    </li>
                </ul>
            </div>
            <!-- --活動圖片-- --> 
            <div class="og-banner">
                <img src="@Model.MainImage" alt="ActivityMainImg">
            </div>
            <div class="organizers mobi-hide">
                <i class="fa-solid fa-sitemap"></i>
                主辦單位
                <a asp-controller="Organizations" asp-action="Index" asp-route-OrganizationId="@Model.OrganizationId">@Model.OrganizationName</a>
                <a asp-controller="Organizations" asp-action="ContactOrganization" asp-route-OrganizationId="@Model.OrganizationId" id="btn-Contact-organization">聯絡主辦單位</a>
            </div>
            <!-- 活動header頁 結束-->
        </div>
        <!-- --手機板 下一步--- -->
         <div id="mobile-btn-success" class="p-3 d-flex justify-content-center">
            <a href="~/Events/BuyTicket/@Model.EventId" class="btn btn-success w-50"
               type="button">下一步</a>
        </div> 
        <!-- 活動main 開始-->
        <div class="main">
            <div class="description">
                @Html.Raw(Model.EventDescription)

            </div>
            <ul class="tags-item ">
                <li>
                    @foreach (var tag in Model.EventCategoryTags)
                    {
                        @await Html.PartialAsync("~/PartialViews/_CategoryTags_Partial.cshtml", tag);
                    }
                </li>
            </ul>
        </div>
        <!-- 地圖   開始 -->
        <div class="location">

            <div class="map-wrapper">
                <div class="btn-wrapper" id="map">
                </div>
                <div class="address mobi-hide">
                    ShowNest Live / @Model.EventLocationAddress
                </div>
            </div>
            <div class="side-content">
                <div class="btn-group">
                    <a href="https://www.google.com/maps/dir/?api=1&destination=106 @Model.EventLocationAddress" target="_blank"
                       type="button" class="btn  btn-success">規劃路線</a>
                    <a href="https://www.google.com/maps/search/?api=1&query=@Model.Latitude%@Model.Longitude" target="_blank"
                       type="button" class="btn btn-success">檢視較大地圖</a>
                </div>


            </div>

        </div>
        <!-- 活動票券 開始-->
        <div class="tickets">
            <h2>活動票券</h2>
            <table class="tickets-wrapper">
                <thead class="ticket-title mobi-hide">
                    <tr>
                        <th class="name">票種</th>
                        <th class="period">販售時間</th>
                        <th class="price">售價</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in @Model.EventTicketTypes)
                    {
                        <tr>
                            <td>@ticket.TicketTypeName</td>
                            <td class="period-time">
                                <span class="timezoneSuffix">@ticket.TicketSalseBegin.ToString("yyyy/MM/dd HH:mm")</span>
                                ~
                                <span class="timezoneSuffix">@ticket.TicketSalseEnd.ToString("yyyy/MM/dd HH:mm")</span>
                            </td>
                            <td class="price">
                                <span class="currency">TWD$</span>
                                <span class="currency-value">@ticket.TicketPrice.ToString("F0")</span>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>

            <div id="pc-btn-success" class="p-3 d-flex justify-content-center">
                <a href="~/Events/BuyTicket/@Model.EventId" class="btn btn-success w-50"
                   type="button">下一步</a>
            </div>
        </div>
        <div class="event-attendees ">
            <h2><span>@Model.countOfParticipants</span> 報名人</h2>
            <div class="attendees-btn">
                <div class="p-3 justify-content-center show-attendees">
                    <div class="btn btn-outline-success attendee-display-switch  w-50" type="button" id="toggleAttendeesBtn">
                        顯示報名人
                    </div>
                </div>
            </div>
            <ul class="attendees">
                @foreach (var ParticipantPeople in @Model.AllParticipantPeoples.Take(10))
                    {
                     <li>
                        <img src="@ParticipantPeople.UserImage" alt="">@ParticipantPeople.UserNickname
                    </li>
                    }
                @if (Model.AllParticipantPeoples.Count > 10)
                {
                    <div class="more">
                        ...以及其他 @(Model.AllParticipantPeoples.Count - 10) 人
                    </div>
                }
            </ul>
        </div>
    </div>
</div>

<!-- 登入/註冊模態視窗 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">立刻成為 ShowNest 會員</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            

            <div class="modal-body">
                <p>
                    立刻成為 ShowNest 會員，加速活動報名流程，並且讓您的資料更有保障。
                </p>
                <button id="loginBtn" class="btn btn-primary">登入</button>
                <button id="signUpBtn" class="btn btn-secondary">註冊</button>
                <button id="cancelBtn" class="btn btn-danger">取消</button>
            </div>
        </div>
    </div>
</div>

