@using Microsoft.AspNetCore.Http
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    var tempPassword = Context.Session.GetString("TempPassword");
    var isGoogleRegister = Context.Session.GetString("IsGoogleRegister");

}
@section topCSS {
    <link rel="stylesheet" href="~/css/_Partial/_AccountNavBarPartial.css">
    <link href="~/css/account/changepassword.css" rel="stylesheet" />
}

<section class="section_wrap">
    <div id="ChangePassword" class="width ">
        <div class="account-navigation-wrap">
            @await Html.PartialAsync("_AccountNavBarPartial", new List<TabStatusViewModel>
            {
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = true},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false}
            })
        </div>

        <!----------- Title------------>
        <div class="title">
            <h2 id="title">修改密碼</h2>
        </div>
        <!----------- Form------------>
        <div class="form-container">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change_password" }))
            {
                @Html.AntiForgeryToken()
                <label for="password">
                    <abbr title="required">*</abbr>
                    目前密碼
                </label>

                <div class="passwords">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入舊密碼", @id = "pass", @required = "required", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error-message text-danger" })
                    @if (!string.IsNullOrEmpty(tempPassword) && isGoogleRegister == "true")
                    {
                        <p>您的臨時密碼是: @tempPassword</p>
                        <p>為了確保您日後使用ShowNest</p>
                        <p>請修改密碼已便日後登入</p>
                    }
                </div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <label for="new-password">
                    <abbr title="required">*</abbr>
                    新密碼
                </label>

                <div class="passwords">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入新密碼", @id = "newpass", @required = "required", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "error-message text-danger" })
                </div>

                <label for="confirm-password">
                    <abbr title="required">*</abbr>
                    確認新密碼
                </label>

                <div class="passwords">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "請再輸入密碼", @id = "repass", @required = "required", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "error-message text-danger" })
                </div>
                <div class="submit">
                    <input type="submit" id="submit" value="修改密碼">
                </div>
            }
        </div>
    </div>
</section>
