@model RegisterModel
@{
    ViewData["Title"] = "SignUp";
}

@section topCSS {
    <link rel="stylesheet" href="~/css/Account/SignUp.css">
}
<div class="wallpaper">
    <div class="container">
        <div class="wrap">
            <div class="tab">
                <div class="log-in"><a asp-controller="Account" asp-action="LogIn">登入</a></div>
                <div class="sign-up">註冊</div>
            </div>
            <div class="input-area">
                <h3>建立 ShowNest 帳號</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="user-name">
                        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", placeholder = "使用者名稱", @id = "userName", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                    </div>
                    <div class="email">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "email", placeholder = "請輸入Email", @id = "email", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="passwords">

                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "passwords", placeholder = "請輸入密碼", @id = "pass", @required = "required", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="passwords">

                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "passwords", placeholder = "請再輸入密碼", @id = "repass", @required = "required", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                    <div class="birthday">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", placeholder = "出生年月日", @id = "birthday", @required = "required", @type = "text", onfocus = "(this.type='date')" } })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>

                    <div class="submit">
                        <input type="submit" id="submit" value="註冊">
                    </div>
                }
                <div class="other-log-in-methods">使用第三方帳號進行註冊</div>
                <div class="third-party-log-in">
                    <div class="FB-icon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/225px-2023_Facebook_icon.svg.png" alt="third-party-signup:FB"></div>
                    <div class="google-icon"><img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708967805/google-web-light-rd-na_wtcjhg.svg" alt="third-party-signup:Google"></div>
                </div>
            </div>
        </div>
    </div>
</div>
