@model EventCardViewModel

@* <a asp-controller="Events" asp-action="EventPage" class="single-card selling"> *@
<a href="~/Events/EventPage/@Model.EventId" class="single-card @Model.EventStatusCssClass">
    <div class="card-name">
        <img class="transparent" src="@Model.EventImgUrl " asp-route-id="@Model.EventId" alt="">
        <span>@Model.CategoryName</span>
        <p>@Model.EventName</p>
    </div>
    <div class="card-info">
        <p class="card-event-date"><i class="fa-regular fa-calendar-days"></i>@Model.EventTime.ToString("yyyy/MM/dd HH:mm")</p>
        <p class="card-ticket-status">@Model.EventStatus</p>
    </div>
</a>